body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:300px;
  top:-10px;
  width:500px;
  height:1090px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:1090px;
}
#u1 {
  position:absolute;
  left:2px;
  top:537px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:300px;
  top:0px;
  width:500px;
  height:60px;
  color:#CCCCCC;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:496px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:300px;
  top:60px;
  width:500px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:496px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:317px;
  top:11px;
  width:40px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:366px;
  top:7px;
  width:63px;
  height:39px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:39px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:660px;
  top:0px;
  width:10px;
  height:60px;
}
#u10_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u10_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u10_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u11 {
  position:absolute;
  left:312px;
  top:70px;
  width:50px;
  height:39px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:300px;
  top:120px;
  width:190px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:300px;
  top:160px;
  width:190px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:300px;
  top:200px;
  width:190px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:300px;
  top:240px;
  width:190px;
  height:40px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:300px;
  top:280px;
  width:190px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:300px;
  top:320px;
  width:190px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:300px;
  top:360px;
  width:190px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:300px;
  top:400px;
  width:190px;
  height:40px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:300px;
  top:440px;
  width:190px;
  height:40px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:300px;
  top:480px;
  width:190px;
  height:40px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:300px;
  top:252px;
  width:200px;
  height:16px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:490px;
  top:120px;
  width:310px;
  height:960px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:960px;
}
#u36 {
  position:absolute;
  left:2px;
  top:472px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:545px;
  top:140px;
  width:200px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:490px;
  top:190px;
  width:90px;
  height:100px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u40 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:600px;
  top:190px;
  width:90px;
  height:100px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:710px;
  top:190px;
  width:90px;
  height:100px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u44 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:545px;
  top:320px;
  width:200px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:490px;
  top:370px;
  width:90px;
  height:100px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u48 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:600px;
  top:370px;
  width:90px;
  height:100px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u50 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:710px;
  top:370px;
  width:90px;
  height:100px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u52 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:490px;
  top:490px;
  width:90px;
  height:100px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u54 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:600px;
  top:490px;
  width:90px;
  height:100px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u56 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:710px;
  top:490px;
  width:90px;
  height:100px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u58 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:545px;
  top:620px;
  width:200px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:490px;
  top:670px;
  width:90px;
  height:100px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u62 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:600px;
  top:670px;
  width:90px;
  height:100px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u64 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:710px;
  top:670px;
  width:90px;
  height:100px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u66 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:545px;
  top:800px;
  width:200px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:490px;
  top:850px;
  width:90px;
  height:100px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u70 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:600px;
  top:850px;
  width:90px;
  height:100px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u72 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:710px;
  top:850px;
  width:90px;
  height:100px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u74 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:490px;
  top:970px;
  width:90px;
  height:100px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u76 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:600px;
  top:970px;
  width:90px;
  height:100px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u78 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:710px;
  top:970px;
  width:90px;
  height:100px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u80 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
